.dot-pattern {
  /* background-color: #e0f2f1;
  opacity: 1;
  background-image: radial-gradient(#80cbc4 0.85px, #e0f2f1 0.85px);
  background-size: 17px 17px; */
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 100%
  );

  background: radial-gradient(#80cbc4 15%, transparent 16%),
    repeating-linear-gradient(
      0deg,
      transparent 6.5%,
      #f1fffe 7%,
      #f1fffe 9%,
      transparent 10%
    ),
    linear-gradient(
      45deg,
      transparent 49%,
      #80cbc4 49%,
      #80cbc4 51%,
      transparent 51%
    ),
    linear-gradient(
      -45deg,
      transparent 49%,
      #80cbc4 49%,
      #80cbc4 51%,
      transparent 51%
    );
  background-size: 0.7em 0.7em;
  background-color: #f1fffe;
  opacity: 1;
}

.hero-text {
  background: linear-gradient(to bottom right, #004d40 20%, #e0f2f100 200%)
      bottom right / 50% 50% no-repeat,
    linear-gradient(to bottom left, #004d40 20%, #e0f2f100 200%) bottom left /
      50% 50% no-repeat,
    linear-gradient(to top left, #004d40 20%, #e0f2f100 200%) top left / 50% 50%
      no-repeat,
    linear-gradient(to top right, #004d40 20%, #e0f2f100 200%) top right / 50%
      50% no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
