@import "tailwindcss";

@font-face {
  font-family: Neue Montreal;
  src: url(./assets/fonts/NeueMontreal-Medium.otf);
}

@font-face {
  font-family: Instrument;
  src: url(./assets/fonts/InstrumentSerif-Italic.ttf);
}

.neue {
  font-family: Neue Montreal;
}

.instrument {
  font-family: Instrument;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  /* color: #004d40c3; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

